spring:
  application:
    name: crush-connect
  datasource:
    url: jdbc:mysql://localhost:3306/college_crush
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml
